@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Montserrat&display=swap");

main {
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    display: grid;
    grid-gap: 1em;
    margin-left: 9.5em;
    margin-right: 9.5em;
}
    
main section {  
    text-align: center;    
    border: 1px solid #bbb;
    padding: 0.5em;
    font-family: "Montserrat", sans-serif;
}
    
a {
    color:#033e53; 
}
    
img {
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    
header {
    margin: 1.25em auto;
    padding: 0.5em;   
    max-width: 1000px;
    background-color:#033e53;
    text-align: center;
    color: #ffffff;
    font-family: "Comic Neue", cursive;
    font-size: 1.2em;
}
    
footer {
    margin: 1.25em auto;
    padding: 0.5em;
    max-width: 1000px;
    text-align: center;
    background-color:#033e53;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}
    
.copyright a {
    color: #93b7be;
}
    
