@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Montserrat&display=swap");

  h2 {
    border-bottom: 1px solid #bbb;
  }

  nav a {
    color: #033e53;
    text-decoration: none;
  }
  
  nav ul {
    list-style: none;
  }

  nav li {
    font-size: 20px;
    padding: 15px;
  }
  
  nav a:hover {
    color:  #93b7be;
  }

  header {
    margin: 1.25rem auto;
    padding: 1rem;
    max-width: 800px;
    background-color:#033e53;
    text-align: center;
    color: #ffffff;
    font-family: "Comic Neue", cursive;
    font-size: 1.2rem;
  }

  header img {
  width: 200px;
  height: auto;
  float: right;
  }

  main {
    margin: 1.25rem auto;
    padding: 1rem;
    max-width: 800px;
    font-family: "Montserrat", sans-serif;
  }

  footer {
    margin: 1.25rem auto;
    padding: 1rem;
    max-width: 800px;
    text-align: center;
    background-color:#033e53;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
  }

  .copyright a {
    color: #93b7be;
  }
