@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Montserrat&display=swap");

#content {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }

  nav a {
    color:#d5c7bc;
    text-decoration: none;
  }
  
  nav ul {
    list-style: none;
  }

  nav li {
    /*display: inline-block;*/
    font-size: 20px;
    padding: 15px;
  }
  
  nav a:hover {
    color:  #93b7be;
  }

  main {
    background-color: #93b7be;
    border: 5px solid #d5c7bc;
  }

